# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm

.DS_Store

# Project Files
config.js
config.json
package-lock.json
modules/dialog-auth.json
modules/bot-list-updater.js
